In [127]:
import pandas as pd

# Load the energy data
energy_data = pd.read_csv('./energy_dataset.csv')

# Find rows with null values
null_rows_energy = energy_data[energy_data.isnull().any(axis=1)]

In [128]:

energy_data = energy_data.drop(['generation fossil coal-derived gas','generation fossil oil shale', 
                            'generation fossil peat', 'generation geothermal', 
                            'generation hydro pumped storage aggregated', 'generation marine', 
                            'generation wind offshore', 'forecast wind offshore eday ahead',
                            'total load forecast', 'forecast solar day ahead',
                            'forecast wind onshore day ahead'], 
                            axis=1)

In [129]:
null_rows_energy

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,277.0,0.0,3113.0,96.0,NaN,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,280.0,0.0,3288.0,51.0,NaN,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,286.0,0.0,3503.0,36.0,NaN,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3586.0,29.0,NaN,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3651.0,26.0,NaN,3117.0,24424.0,24455.0,64.27,69.88

In [130]:
null_time_raws=energy_data[energy_data.isnull().any(axis=1)]['time'].values.tolist()

In [131]:
null_rows_energy = energy_data[energy_data.isnull().any(axis=1)]
# Save timestamps of rows with null values
timestamps_with_null = null_rows_energy.index

In [132]:
timestamps_with_null

Index([   99,   108,   109,   110,   111,   112,   113,   451,   452,   643,
         661,   751,   752,   753,   756,   757,   758,   759,   760,   761,
         762,   763,  2258,  2528,  2623,  2708,  2913,  3554,  3968,  6583,
        6586,  8049, 11236, 11524, 11526, 11902, 12672, 13341, 13391, 15272,
       15982, 16612, 25164, 25171, 30185, 30896],
      dtype='int64')

In [133]:
weather_data = pd.read_csv('./energy_dataset.csv')
weather_data.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [134]:
timestamps_with_null[0]

99

In [135]:
weather_data.loc[timestamps_with_null]

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
99,2015-01-05 03:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,546.0,NaN,8233.0,21912.0,21182.0,35.20,59.68
108,2015-01-05 12:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3932.0,NaN,9258.0,23209.0,NaN,35.50,79.14
109,2015-01-05 13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4236.0,NaN,9156.0,23725.0,NaN,36.80,73.95
110,2015-01-05 14:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4215.0,NaN,9072.0,23614.0,NaN,32.50,71.93
111,2015-01-05 15:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4050.0,NaN,8779.0,22381.0,NaN,30.00,71.50
112,2015-01-05 16:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3728.0,NaN,8426.0,21371.0,NaN,30.00,71.85
113,2015-01-05 17:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3175.0,NaN,7946.0,20760.0,NaN,30.60,80.53
451,2015-01-19 19:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,91.0,NaN,6434.0,38642.0,39304.0,70.01,88.95
452,2015-01-19 20:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,NaN,6907.0,38758.0,39262.0,69.00,87.94
643,2015-01-27 19:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,182.0,NaN,9807.0,38968.0,38335.0,66.00,83.97
661,2015-01-28 13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4136.0,NaN,6223.0,36239.0,NaN,65.00,77.62
751,2015-02-01 07:00:00+01:00,449.0,312.0,0.0,4765.0,5269.0,222.0,0.0,0.0,0.0,...,208.0,0.0,3289.0,18.0,NaN,3141.0,24379.0,NaN,56.10,16.98
752,2015-02-01 08:00:00+01:00,453.0,312.0,0.0,4938.0,5652.0,288.0,0.0,0.0,0.0,...,207.0,0.0,3102.0,63.0,NaN,3165.0,27389.0,NaN,57.69,19.56
753,2015-02-01 09:00:00+01:00,452.0,302.0,0.0,4997.0,5770.0,296.0,0.0,0.0,0.0,...,204.0,0.0,2838.0,691.0,NaN,2907.0,30619.0,NaN,60.01,23.13
756,2015-02-01 12:00:00+01:00,405.0,317.0,0.0,5247.0,6008.0,333.0,0.0,0.0,0.0,...,200.0,0.0,1413.0,3568.0,NaN,1486.0,31357.0,NaN,59.97,22.51
757,2015-02-01 13:00:00+01:00,402.0,317.0,0.0,5449.0,6005.0,318.0,0.0,0.0,0.0,...,193.0,0.0,1347.0,3572.0,NaN,1267.0,31338.0,NaN,59.69,23.44
758,2015-02-01 14:00:00+01:00,400.0,317.0,0.0,5266.0,5995.0,327.0,0.0,0.0,0.0,...,199.0,0.0,1345.0,3474.0,NaN,1363.0,30874.0,NaN,58.69,24.10
759,2015-02-01 15:00:00+01:00,393.0,321.0,0.0,5209.0,5939.0,345.0,0.0,0.0,0.0,...,204.0,0.0,1487.0,2935.0,NaN,1426.0,30124.0,NaN,58.13,21.12
760,2015-02-01 16:00:00+01:00,413.0,325.0,0.0,5642.0,6000.0,345.0,0.0,0.0,0.0,...,203.0,0.0,1648.0,2383.0,NaN,1678.0,29714.0,NaN,59.00,21.73
761,2015-02-01 17:00:00+01:00,465.0,321.0,0.0,6127.0,5912.0,346.0,0.0,0.0,0.0,...,207.0,0.0,1857.0,1211.0,NaN,1807.0,29801.0,NaN,59.69,25.93
762,2015-02-01 18:00:00+01:00,482.0,326.0,0.0,7386.0,6002.0,340.0,0.0,0.0,0.0,...,208.0,0.0,1864.0,392.0,NaN,2050.0,32257.0,NaN,63.76,54.13
763,2015-02-01 19:00:00+01:00,474.0,326.0,0.0,7963.0,6026.0,343.0,0.0,0.0,0.0,...,207.0,0.0,1813.0,98.0,NaN,1933.0,33183.0,NaN,65.01,68.53
2258,2015-04-05 03:00:00+02:00,371.0,0.0,0.0,5015.0,3248.0,257.0,0.0,0.0,0.0,...,142.0,0.0,3153.0,55.0,NaN,3026.0,20016.0,NaN,42.55,29.04
2528,2015-04-16 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,952.0,NaN,3377.0,31001.0,NaN,56.54,67.55
2623,2015-04-20 08:00:00+02:00,424.0,642.0,0.0,5614.0,5784.0,369.0,0.0,0.0,0.0,...,147.0,0.0,797.0,692.0,NaN,830.0,29287.0,NaN,62.00,72.92
2708,2015-04-23 21:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,327.0,NaN,1058.0,31421.0,NaN,69.49,82.57
2913,2015-05-02 10:00:00+02:00,497.0,0.0,0.0,5502.0,5677.0,375.0,0.0,0.0,0.0,...,205.0,0.0,10903.0,2277.0,NaN,11069.0,39644.0,NaN,58.49,59.09
3554,2015-05-29 03:00:00+02:00,569.0,756.0,0.0,4239.0,4635.0,365.0,0.0,0.0,0.0,...,201.0,0.0,6503.0,554.0,NaN,6355.0,23132.0,NaN,45.93,55.07
3968,2015-06-15 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1552.0,NaN,2718.0,29899.0,30047.0,62.48,73.82
6583,2015-10-02 08:00:00+02:00,483.0,961.0,0.0,6545.0,8250.0,385.0,0.0,0.0,0.0,...,205.0,0.0,4362.0,185.0,NaN,4404.0,36798.0,NaN,66.19,70.13
6586,2015-10-02 11:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2513.0,NaN,3690.0,38921.0,NaN,70.09,70.49
8049,2015-12-02 09:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,684.0,NaN,1510.0,37413.0,NaN,75.71,80.44
11236,2016-04-13 05:00:00+02:00,220.0,0.0,0.0,3390.0,1242.0,243.0,0.0,0.0,0.0,...,NaN,0.0,8596.0,70.0,NaN,8557.0,23514.0,23614.0,18.69,25.14
11524,2016-04-25 05:00:00+02:00,190.0,0.0,0.0,2969.0,886.0,151.0,0.0,0.0,0.0,...,195.0,0.0,5989.0,412.0,NaN,6019.0,21471.0,NaN,15.00,22.65
11526,2016-04-25 07:00:00+02:00,206.0,0.0,0.0,3673.0,1143.0,185.0,0.0,0.0,0.0,...,214.0,0.0,5682.0,208.0,NaN,5758.0,27635.0,NaN,32.97,40.18
11902,2016-05-10 23:00:00+02:00,348.0,960.0,0.0,6800.0,5219.0,299.0,0.0,0.0,0.0,...,280.0,0.0,3311.0,84.0,NaN,3465.0,26641.0,NaN,51.57,39.11
12672,2016-06-12 01:00:00+02:00,356.0,595.0,0.0,5719.0,6165.0,274.0,0.0,0.0,0.0,...,291.0,0.0,2019.0,9.0,NaN,2064.0,24715.0,24155.0,60.23,48.72
13341,2016-07-09 22:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,499.0,NaN,4914.0,34985.0,NaN,45.72,51.72
13391,2016-07-12 00:00:00+02:00,346.0,595.0,0.0,5951.0,6131.0,NaN,0.0,0.0,0.0,...,309.0,0.0,2031.0,10.0,NaN,2050.0,25313.0,25103.0,64.99,47.49
15272,2016-09-28 09:00:00+02:00,347.0,594.0,0.0,5522.0,6272.0,292.0,0.0,0.0,0.0,...,300.0,0.0,5478.0,967.0,NaN,5359.0,31072.0,NaN,49.72,56.40
15982,2016-10-27 23:00:00+02:00,351.0,554.0,0.0,7176.0,5690.0,321.0,0.0,0.0,0.0,...,299.0,0.0,3193.0,46.0,NaN,3143.0,26423.0,26583.0,55.70,62.84
16612,2016-11-23 04:00:00+01:00,NaN,900.0,0.0,4838.0,4547.0,269.0,0.0,0.0,0.0,...,227.0,0.0,4598.0,3.0,NaN,4566.0,23469.0,23112.0,43.19,49.11
25164,2017-11-14 12:00:00+01:00,0.0,0.0,0.0,10064.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4325.0,NaN,7561.0,33805.0,NaN,60.53,66.17
25171,2017-11-14 19:00:00+01:00,0.0,0.0,0.0,12336.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,128.0,NaN,5679.0,35592.0,NaN,68.05,75.45
30185,2018-06-11 18:00:00+02:00,331.0,506.0,0.0,7538.0,5360.0,300.0,0.0,0.0,0.0,...,269.0,0.0,9165.0,125.0,NaN,10329.0,34752.0,NaN,69.87,64.93
30896,2018-07-11 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,849.0,NaN,9956.0,33938.0,NaN,63.01,69.79

In [136]:
timestamps_with_null

Index([   99,   108,   109,   110,   111,   112,   113,   451,   452,   643,
         661,   751,   752,   753,   756,   757,   758,   759,   760,   761,
         762,   763,  2258,  2528,  2623,  2708,  2913,  3554,  3968,  6583,
        6586,  8049, 11236, 11524, 11526, 11902, 12672, 13341, 13391, 15272,
       15982, 16612, 25164, 25171, 30185, 30896],
      dtype='int64')

In [137]:
energy_data[energy_data['time'].isin(null_time_raws)].info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 99 to 30896
Data columns (total 18 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         46 non-null     object
 1   generation biomass                           27 non-null     float64
 2   generation fossil brown coal/lignite         28 non-null     float64
 3   generation fossil gas                        28 non-null     float64
 4   generation fossil hard coal                  28 non-null     float64
 5   generation fossil oil                        27 non-null     float64
 6   generation hydro pumped storage consumption  27 non-null     float64
 7   generation hydro run-of-river and poundage   27 non-null     float64
 8   generation hydro water reservoir             28 non-null     float64
 9   generation nuclear                           29 non-null     float64
 10  generation other                             28 non-null     float64
 11  generation other renewable                   28 non-null     float64
 12  generation solar                             28 non-null     float64
 13  generation waste                             27 non-null     float64
 14  generation wind onshore                      28 non-null     float64
 15  total load actual                            10 non-null     float64
 16  price day ahead                              46 non-null     float64
 17  price actual                                 46 non-null     float64
dtypes: float64(17), object(1)
memory usage: 6.8+ KB

In [138]:
weather_data=weather_data[~weather_data['time'].isin(null_time_raws)]
energy_data=energy_data[~energy_data['time'].isin(null_time_raws)]

weather_data.to_csv('./weather_data.csv')
energy_data.to_csv('./energy_dataset.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 35018 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35018 non-null  object
 1   generation biomass                           35018 non-null  float64
 2   generation fossil brown coal/lignite         35018 non-null  float64
 3   generation fossil coal-derived gas           35018 non-null  float64
 4   generation fossil gas                        35018 non-null  float64
 5   generation fossil hard coal                  35018 non-null  float64
 6   generation fossil oil                        35018 non-null  float64
 7   generation fossil oil shale                  35018 non-null  float64
 8   generation fossil peat                       35018 non-null  float64
 9   generation geothermal                        35018 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35018 non-null  float64
 12  generation hydro run-of-river and poundage   35018 non-null  float64
 13  generation hydro water reservoir             35018 non-null  float64
 14  generation marine                            35017 non-null  float64
 15  generation nuclear                           35018 non-null  float64
 16  generation other                             35018 non-null  float64
 17  generation other renewable                   35018 non-null  float64
 18  generation solar                             35018 non-null  float64
 19  generation waste                             35018 non-null  float64
 20  generation wind offshore                     35018 non-null  float64
 21  generation wind onshore                      35018 non-null  float64
 22  forecast solar day ahead                     35018 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35018 non-null  float64
 25  total load forecast                          35018 non-null  float64
 26  total load actual                            35018 non-null  float64
 27  price day ahead                              35018 non-null  float64
 28  price actual                                 35018 non-null  float64
dtypes: float64(28), object(1)
memory usage: 8.0+ MB