In [152]:
import pandas as pd

# Load the energy data
energy_data = pd.read_csv('./energy_dataset.csv')

# Find rows with null values
null_rows_energy = energy_data[energy_data.isnull().any(axis=1)]

In [153]:

energy_data = energy_data.drop(['generation fossil coal-derived gas','generation fossil oil shale', 
                            'generation fossil peat', 'generation geothermal', 
                            'generation hydro pumped storage aggregated', 'generation marine', 
                            'generation wind offshore', 'forecast wind offshore eday ahead',
                            'total load forecast', 'forecast solar day ahead',
                            'forecast wind onshore day ahead'], 
                            axis=1)

In [154]:
null_rows_energy

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,277.0,0.0,3113.0,96.0,NaN,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,280.0,0.0,3288.0,51.0,NaN,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,286.0,0.0,3503.0,36.0,NaN,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3586.0,29.0,NaN,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3651.0,26.0,NaN,3117.0,24424.0,24455.0,64.27,69.88

In [155]:
null_time_raws=energy_data[energy_data.isnull().any(axis=1)]['time'].values.tolist()

In [159]:
null_time_raws

['2015-01-05 03:00:00+01:00',
 '2015-01-05 12:00:00+01:00',
 '2015-01-05 13:00:00+01:00',
 '2015-01-05 14:00:00+01:00',
 '2015-01-05 15:00:00+01:00',
 '2015-01-05 16:00:00+01:00',
 '2015-01-05 17:00:00+01:00',
 '2015-01-19 19:00:00+01:00',
 '2015-01-19 20:00:00+01:00',
 '2015-01-27 19:00:00+01:00',
 '2015-01-28 13:00:00+01:00',
 '2015-02-01 07:00:00+01:00',
 '2015-02-01 08:00:00+01:00',
 '2015-02-01 09:00:00+01:00',
 '2015-02-01 12:00:00+01:00',
 '2015-02-01 13:00:00+01:00',
 '2015-02-01 14:00:00+01:00',
 '2015-02-01 15:00:00+01:00',
 '2015-02-01 16:00:00+01:00',
 '2015-02-01 17:00:00+01:00',
 '2015-02-01 18:00:00+01:00',
 '2015-02-01 19:00:00+01:00',
 '2015-04-05 03:00:00+02:00',
 '2015-04-16 09:00:00+02:00',
 '2015-04-20 08:00:00+02:00',
 '2015-04-23 21:00:00+02:00',
 '2015-05-02 10:00:00+02:00',
 '2015-05-29 03:00:00+02:00',
 '2015-06-15 09:00:00+02:00',
 '2015-10-02 08:00:00+02:00',
 '2015-10-02 11:00:00+02:00',
 '2015-12-02 09:00:00+01:00',
 '2016-04-13 05:00:00+02:00',
 '2016-04-25 05:00:00+02:00',
 '2016-04-25 07:00:00+02:00',
 '2016-05-10 23:00:00+02:00',
 '2016-06-12 01:00:00+02:00',
 '2016-07-09 22:00:00+02:00',
 '2016-07-12 00:00:00+02:00',
 '2016-09-28 09:00:00+02:00',
 '2016-10-27 23:00:00+02:00',
 '2016-11-23 04:00:00+01:00',
 '2017-11-14 12:00:00+01:00',
 '2017-11-14 19:00:00+01:00',
 '2018-06-11 18:00:00+02:00',
 '2018-07-11 09:00:00+02:00']

In [162]:
weather_data = pd.read_csv('./weather_data.csv')
weather_data.head()

,dt_iso,temp_Barcelona,temp_min_Barcelona,temp_max_Barcelona,pressure_Barcelona,humidity_Barcelona,wind_speed_Barcelona,wind_deg_Barcelona,rain_1h_Barcelona,rain_3h_Barcelona,...,wind_speed_Valencia,wind_deg_Valencia,rain_1h_Valencia,rain_3h_Valencia,snow_3h_Valencia,clouds_all_Valencia,weather_id_Valencia,weather_main_Valencia,weather_description_Valencia,weather_icon_Valencia
0,2015-01-01 00:00:00+01:00,281.625,281.625,281.625,1035,100,7,58,0.0,0.0,...,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,281.625,281.625,281.625,1035,100,7,58,0.0,0.0,...,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,281.286,281.286,281.286,1036,100,7,48,0.0,0.0,...,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,281.286,281.286,281.286,1036,100,7,48,0.0,0.0,...,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,281.286,281.286,281.286,1036,100,7,48,0.0,0.0,...,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [164]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38568 entries, 0 to 38567
Data columns (total 76 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   dt_iso                         38568 non-null  object
 1   temp_Barcelona                 38568 non-null  float64
 2   temp_min_Barcelona             38568 non-null  float64
 3   temp_max_Barcelona             38568 non-null  float64
 4   pressure_Barcelona             38568 non-null  int64
 5   humidity_Barcelona             38568 non-null  int64
 6   wind_speed_Barcelona           38568 non-null  int64
 7   wind_deg_Barcelona             38568 non-null  int64
 8   rain_1h_Barcelona              38568 non-null  float64
 9   rain_3h_Barcelona              38568 non-null  float64
 10  snow_3h_Barcelona              38568 non-null  float64
 11  clouds_all_Barcelona           38568 non-null  int64
 12  weather_id_Barcelona           38568 non-null  int64
 13  weather_main_Barcelona         38568 non-null  object
 14  weather_description_Barcelona  38568 non-null  object
 15  weather_icon_Barcelona         38568 non-null  object
 16  temp_Bilbao                    38568 non-null  float64
 17  temp_min_Bilbao                38568 non-null  float64
 18  temp_max_Bilbao                38568 non-null  float64
 19  pressure_Bilbao                38568 non-null  int64
 20  humidity_Bilbao                38568 non-null  int64
 21  wind_speed_Bilbao              38568 non-null  int64
 22  wind_deg_Bilbao                38568 non-null  int64
 23  rain_1h_Bilbao                 38568 non-null  float64
 24  rain_3h_Bilbao                 38568 non-null  float64
 25  snow_3h_Bilbao                 38568 non-null  float64
 26  clouds_all_Bilbao              38568 non-null  int64
 27  weather_id_Bilbao              38568 non-null  int64
 28  weather_main_Bilbao            38568 non-null  object
 29  weather_description_Bilbao     38568 non-null  object
 30  weather_icon_Bilbao            38568 non-null  object
 31  temp_Madrid                    38568 non-null  float64
 32  temp_min_Madrid                38568 non-null  float64
 33  temp_max_Madrid                38568 non-null  float64
 34  pressure_Madrid                38568 non-null  int64
 35  humidity_Madrid                38568 non-null  int64
 36  wind_speed_Madrid              38568 non-null  int64
 37  wind_deg_Madrid                38568 non-null  int64
 38  rain_1h_Madrid                 38568 non-null  float64
 39  rain_3h_Madrid                 38568 non-null  float64
 40  snow_3h_Madrid                 38568 non-null  float64
 41  clouds_all_Madrid              38568 non-null  int64
 42  weather_id_Madrid              38568 non-null  int64
 43  weather_main_Madrid            38568 non-null  object
 44  weather_description_Madrid     38568 non-null  object
 45  weather_icon_Madrid            38568 non-null  object
 46  temp_Seville                   38568 non-null  float64
 47  temp_min_Seville               38568 non-null  float64
 48  temp_max_Seville               38568 non-null  float64
 49  pressure_Seville               38568 non-null  int64
 50  humidity_Seville               38568 non-null  int64
 51  wind_speed_Seville             38568 non-null  int64
 52  wind_deg_Seville               38568 non-null  int64
 53  rain_1h_Seville                38568 non-null  float64
 54  rain_3h_Seville                38568 non-null  float64
 55  snow_3h_Seville                38568 non-null  float64
 56  clouds_all_Seville             38568 non-null  int64
 57  weather_id_Seville             38568 non-null  int64
 58  weather_main_Seville           38568 non-null  object
 59  weather_description_Seville    38568 non-null  object
 60  weather_icon_Seville           38568 non-null  object
 61  temp_Valencia                  38568 non-null  float64
 62  temp_min_Valencia              38568 non-null  float64
 63  temp_max_Valencia              38568 non-null  float64
 64  pressure_Valencia              38568 non-null  int64
 65  humidity_Valencia              38568 non-null  int64
 66  wind_speed_Valencia            38568 non-null  int64
 67  wind_deg_Valencia              38568 non-null  int64
 68  rain_1h_Valencia               38568 non-null  float64
 69  rain_3h_Valencia               38568 non-null  float64
 70  snow_3h_Valencia               38568 non-null  float64
 71  clouds_all_Valencia            38568 non-null  int64
 72  weather_id_Valencia            38568 non-null  int64
 73  weather_main_Valencia          38568 non-null  object
 74  weather_description_Valencia   38568 non-null  object
 75  weather_icon_Valencia          38568 non-null  object
dtypes: float64(30), int64(30), object(16)
memory usage: 22.4+ MB

In [160]:
energy_data[energy_data['time'].isin(null_time_raws)].info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 99 to 30896
Data columns (total 18 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         46 non-null     object
 1   generation biomass                           27 non-null     float64
 2   generation fossil brown coal/lignite         28 non-null     float64
 3   generation fossil gas                        28 non-null     float64
 4   generation fossil hard coal                  28 non-null     float64
 5   generation fossil oil                        27 non-null     float64
 6   generation hydro pumped storage consumption  27 non-null     float64
 7   generation hydro run-of-river and poundage   27 non-null     float64
 8   generation hydro water reservoir             28 non-null     float64
 9   generation nuclear                           29 non-null     float64
 10  generation other                             28 non-null     float64
 11  generation other renewable                   28 non-null     float64
 12  generation solar                             28 non-null     float64
 13  generation waste                             27 non-null     float64
 14  generation wind onshore                      28 non-null     float64
 15  total load actual                            10 non-null     float64
 16  price day ahead                              46 non-null     float64
 17  price actual                                 46 non-null     float64
dtypes: float64(17), object(1)
memory usage: 6.8+ KB

In [170]:
weather_data['dt_iso']

0        2015-01-01 00:00:00+01:00
1        2015-01-01 01:00:00+01:00
2        2015-01-01 02:00:00+01:00
3        2015-01-01 03:00:00+01:00
4        2015-01-01 04:00:00+01:00
                   ...
38563    2018-12-31 19:00:00+01:00
38564    2018-12-31 20:00:00+01:00
38565    2018-12-31 21:00:00+01:00
38566    2018-12-31 22:00:00+01:00
38567    2018-12-31 23:00:00+01:00
Name: dt_iso, Length: 38568, dtype: object

In [175]:
weather_data.isna().all()

dt_iso                          False
temp_Barcelona                  False
temp_min_Barcelona              False
temp_max_Barcelona              False
pressure_Barcelona              False
                                ...
clouds_all_Valencia             False
weather_id_Valencia             False
weather_main_Valencia           False
weather_description_Valencia    False
weather_icon_Valencia           False
Length: 76, dtype: bool

In [172]:
weather_data[weather_data['dt_iso'].isin(null_time_raws)]

,dt_iso,temp_Barcelona,temp_min_Barcelona,temp_max_Barcelona,pressure_Barcelona,humidity_Barcelona,wind_speed_Barcelona,wind_deg_Barcelona,rain_1h_Barcelona,rain_3h_Barcelona,...,wind_speed_Valencia,wind_deg_Valencia,rain_1h_Valencia,rain_3h_Valencia,snow_3h_Valencia,clouds_all_Valencia,weather_id_Valencia,weather_main_Valencia,weather_description_Valencia,weather_icon_Valencia
99,2015-01-05 03:00:00+01:00,282.650000,282.650000,282.650000,1027,81,1,337,0.0,0.000,...,2,317,0.0,0.000,0.0,0,800,clear,sky is clear,01n
108,2015-01-05 12:00:00+01:00,288.850000,288.850000,288.850000,1026,56,1,225,0.0,0.000,...,1,201,0.0,0.000,0.0,0,800,clear,sky is clear,01d
109,2015-01-05 13:00:00+01:00,289.560000,289.560000,289.560000,1025,51,4,253,0.0,0.000,...,1,201,0.0,0.000,0.0,0,800,clear,sky is clear,01d
110,2015-01-05 14:00:00+01:00,287.670000,287.670000,287.670000,1025,48,1,135,0.0,0.000,...,1,199,0.0,0.000,0.0,0,800,clear,sky is clear,01d
111,2015-01-05 15:00:00+01:00,287.095500,287.095500,287.095500,1026,58,1,165,0.0,0.000,...,1,174,0.0,0.000,0.0,0,800,clear,sky is clear,01
112,2015-01-05 16:00:00+01:00,286.469219,286.469219,286.469219,1026,61,2,175,0.0,0.000,...,1,169,0.0,0.000,0.0,0,800,clear,sky is clear,01
113,2015-01-05 17:00:00+01:00,285.903313,285.903313,285.903313,1028,73,2,209,0.0,0.000,...,1,141,0.0,0.000,0.0,0,800,clear,sky is clear,01
452,2015-01-19 19:00:00+01:00,281.702500,281.702500,281.702500,1007,80,3,34,0.0,0.000,...,3,114,0.0,0.000,0.0,56,803,clouds,broken clouds,04
453,2015-01-19 20:00:00+01:00,281.506000,281.506000,281.506000,1008,81,5,30,0.0,0.000,...,3,309,0.0,0.000,0.0,65,803,clouds,broken clouds,04
644,2015-01-27 19:00:00+01:00,283.950000,283.950000,283.950000,1017,62,1,0,0.0,0.000,...,11,321,0.0,0.000,0.0,92,804,clouds,overcast clouds,04n
662,2015-01-28 13:00:00+01:00,284.750000,284.750000,284.750000,1018,51,1,112,0.0,0.000,...,6,227,0.0,0.000,0.0,0,800,clear,sky is clear,01d
752,2015-02-01 07:00:00+01:00,278.350000,278.350000,278.350000,996,46,6,320,0.0,0.000,...,4,272,0.0,0.000,0.0,0,800,clear,sky is clear,01n
753,2015-02-01 08:00:00+01:00,280.060000,280.060000,280.060000,997,40,1,0,0.0,0.000,...,6,252,0.0,0.000,0.0,0,800,clear,sky is clear,01d
754,2015-02-01 09:00:00+01:00,282.160000,282.160000,282.160000,998,37,3,325,0.0,0.000,...,6,276,0.0,0.000,0.0,0,800,clear,sky is clear,01d
757,2015-02-01 12:00:00+01:00,284.570000,284.570000,284.570000,999,36,2,157,0.0,0.000,...,6,276,0.0,0.000,0.0,0,800,clear,sky is clear,01d
758,2015-02-01 13:00:00+01:00,285.070000,285.070000,285.070000,999,36,2,157,0.0,0.000,...,6,276,0.0,0.000,0.0,0,800,clear,sky is clear,01d
759,2015-02-01 14:00:00+01:00,284.194000,284.194000,284.194000,1002,36,3,308,0.0,0.000,...,5,268,0.0,0.000,0.0,2,800,clear,sky is clear,02
760,2015-02-01 15:00:00+01:00,284.350000,284.350000,284.350000,1000,27,1,292,0.0,0.000,...,5,260,0.0,0.000,0.0,5,800,clear,sky is clear,02
761,2015-02-01 16:00:00+01:00,283.990000,283.990000,283.990000,1001,23,2,292,0.0,0.000,...,4,253,0.0,0.000,0.0,8,800,clear,sky is clear,02d
762,2015-02-01 17:00:00+01:00,283.618500,283.618500,283.618500,1003,30,6,298,0.0,0.000,...,4,285,0.0,0.000,0.0,10,800,clear,sky is clear,02
763,2015-02-01 18:00:00+01:00,283.270000,283.270000,283.270000,1002,16,5,292,0.0,0.000,...,3,318,0.0,0.000,0.0,12,801,clouds,few clouds,02n
764,2015-02-01 19:00:00+01:00,282.170000,282.170000,282.170000,1003,19,3,247,0.0,0.000,...,3,306,0.0,0.000,0.0,0,800,clear,sky is clear,01n
2261,2015-04-05 03:00:00+02:00,284.825000,284.825000,284.825000,1012,76,2,204,0.0,0.000,...,1,311,0.0,0.014,0.0,0,800,clear,sky is clear,01
2531,2015-04-16 09:00:00+02:00,287.815688,287.815688,287.815688,1016,90,1,27,0.3,0.000,...,1,267,0.3,0.000,0.0,74,500,rain,light rain,10
2626,2015-04-20 08:00:00+02:00,287.350500,287.350500,287.350500,1021,81,1,193,0.0,0.002,...,1,204,0.0,0.000,0.0,0,800,clear,sky is clear,01
2711,2015-04-23 21:00:00+02:00,289.327000,289.327000,289.327000,1020,90,1,190,0.0,0.000,...,1,68,0.0,0.000,0.0,0,800,clear,sky is clear,01n
2916,2015-05-02 10:00:00+02:00,290.843000,290.843000,290.843000,1018,85,1,157,0.0,0.000,...,2,210,0.0,0.000,0.0,16,801,clouds,few clouds,02
3557,2015-05-29 03:00:00+02:00,289.455000,289.455000,289.455000,1020,100,4,247,0.0,0.000,...,1,9,0.0,0.000,0.0,0,800,clear,sky is clear,01n
3974,2015-06-15 09:00:00+02:00,292.456000,292.456000,292.456000,1018,100,4,37,0.0,0.000,...,1,295,0.0,0.000,0.0,48,802,clouds,scattered clouds,03d
6767,2015-10-02 08:00:00+02:00,287.590000,284.820000,289.820000,1018,93,3,330,0.9,0.000,...,0,0,0.0,0.000,0.0,20,801,clouds,few clouds,02d
6770,2015-10-02 11:00:00+02:00,292.380000,290.150000,294.260000,1019,88,3,330,0.0,0.000,...,1,0,0.0,0.000,0.0,40,802,clouds,scattered clouds,03d
8342,2015-12-02 09:00:00+01:00,282.760500,282.760500,282.760500,1027,71,3,284,0.0,0.000,...,1,144,0.0,0.000,0.0,12,801,clouds,few clouds,02
11712,2016-04-13 05:00:00+02:00,287.150000,287.150000,287.150000,1009,93,2,230,0.0,0.000,...,8,270,0.0,0.000,0.0,0,800,clear,sky is clear,01n
12019,2016-04-25 05:00:00+02:00,282.570000,277.040000,285.930000,1016,66,3,350,0.0,0.000,...,2,320,0.0,0.000,0.0,0,800,clear,sky is clear,01n
12021,2016-04-25 07:00:00+02:00,281.460000,275.370000,284.260000,1016,53,6,340,0.0,0.000,...,2,270,0.0,0.000,0.0,0,800,clear,sky is clear,01d
12460,2016-05-10 23:00:00+02:00,286.190000,283.150000,288.710000,1007,82,3,360,0.3,0.000,...,0,0,0.0,0.000,0.0,0,800,clear,sky is clear,01n
13261,2016-06-12 01:00:00+02:00,291.740000,287.590000,295.930000,998,100,2,253,0.0,0.000,...,1,28,0.0,0.025,0.0,36,802,clouds,scattered clouds,03n
13936,2016-07-09 22:00:00+02:00,299.020000,295.930000,300.930000,1017,74,2,200,0.0,0.000,...,2,60,0.0,0.000,0.0,0,800,clear,sky is clear,01n
13988,2016-07-12 00:00:00+02:00,298.370000,295.370000,300.930000,1013,78,1,270,0.0,0.000,...,3,50,0.0,0.000,0.0,0,800,clear,sky is clear,01n
15907,2016-09-28 09:00:00+02:00,292.800000,289.260000,298.710000,1010,100,6,39,0.0,0.000,...,1,315,0.3,0.000,0.0,88,500,rain,light rain,10d
16648,2016-10-27 23:00:00+02:00,290.639000,290.639000,290.639000,1035,100,2,65,0.0,0.000,...,1,110,0.3,0.000,0.0,76,500,rain,light rain,10n
17390,2016-11-23 04:00:00+01:00,291.150000,290.150000,292.150000,1006,82,3,20,0.0,0.000,...,2,350,0.0,0.000,0.0,40,802,clouds,scattered clouds,03n
27068,2017-11-14 12:00:00+01:00,285.650000,285.150000,286.150000,1018,35,6,33,0.0,0.000,...,1,277,0.0,0.000,0.0,0,800,clear,sky is clear,01d
27075,2017-11-14 19:00:00+01:00,284.150000,283.150000,285.150000,1019,53,3,46,0.0,0.000,...,1,150,0.0,0.000,0.0,0,800,clear,sky is clear,01n
33067,2018-06-11 18:00:00+02:00,300.150000,298.150000,302.150000,1008,39,4,250,0.0,0.000,...,7,240,0.0,0.000,0.0,20,801,clouds,few clouds,02d
33804,2018-07-11 09:00:00+02:00,297.150000,297.150000,297.150000,1015,78,2,41,0.0,0.000,...,3,320,0.0,0.000,0.0,0,800,clear,sky is clear,01d

In [179]:
weather_data.shape,energy_data.shape

((38568, 76), (35064, 29))

In [182]:
weather_data=pd.read_csv('./weather_data.csv')
energy_data=pd.read_csv('./energy_dataset.csv')
weather_data=weather_data[~weather_data['dt_iso'].isin(null_time_raws)]
energy_data=energy_data[~energy_data['time'].isin(null_time_raws)]
weather_data.to_csv('./weather_data.csv')
energy_data.to_csv('./energy_dataset.csv')

In [183]:
weather_data.shape,energy_data.shape

((38522, 76), (35018, 29))